<!-- Static navbar component (left-aligned) -->

<!-- Offcanvas sidebar component -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column flex-grow-1 noscroll">
            {{ macros.nav_element('inventory.inventory_home', 'Inventory', 'bi-box-seam') }}
            {{ macros.nav_element('orders.orders_home', 'Orders', 'bi-cart') }}
            {{ macros.nav_element('shipments.shipments_home', 'Shipments', 'bi-mailbox-flag') }}
            {{ macros.nav_element('tickets.tickets_home', 'Trouble Tickets', 'bi-ticket-perforated') }}
            {{ macros.nav_element('invoices.invoices_home', 'Invoices', 'bi-folder2-open') }}
            
            <!-- Admin dashboard only shows if current user is an admin -->
            {% if current_user.is_admin %}
                {{ macros.nav_element('admin.admin_home', 'Admin', 'bi-lightning') }}
            {% endif %}

            <!-- Logout only shows if current user is logged in -->
            {% if current_user.is_authenticated %}
                {{ macros.nav_element('auth.logout', 'Logout', 'bi-person') }}
            {% endif %}
        </ul>
    </div>
</div>