{% extends 'base.html' %}
{% import 'components/macros.html' as macros %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" type="text/css">
{% endblock %}

{% block content %}

<div class="auth-container">

    {{ macros.section_header("Login") }}

    <form class="auth-form" action="/login" method="POST">

        <div class="row justify-content-center mb-3">

            <div class="col-md-6">

                {{ macros.input_group_floating(
                    label='Username',
                    id='username',
                    name='username',
                    type='text',
                    tooltip='Enter your username.'
                ) }}

            </div>

            <div class="col-md-6">

                {{ macros.input_group_floating(
                    label='Password',
                    id='password',
                    name='password',
                    type='password',
                    tooltip='Enter your password.'
                ) }}

            </div>

        </div>

        <div class="row justify-content-center mb-3">

            <div class="col-md-12">

                <button class="btn btn-outline-primary" type="submit">Login</button>

            </div>

        </div>

    </form>

    <p class="auth-container-redirect">
        Don't have an account? <a href="/register"><button class="btn btn-outline-secondary register-btn">Register</button></a>
    </p>

    <p class="system-msg">{% if msg %} {{ msg }} {% endif %}</p>
</div>

{% endblock %}