{% extends 'base.html' %}
{% import 'components/macros.html' as macros %}

{% block title %}Orders{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}" type="text/css">
{% endblock %}

{% block content %}

    {% include 'customers/modals/customers_add_modal.html' %}
    {% include 'orders/modals/orders_add_modal.html' %}

    <!-- Main content container -->
    <div class="container-md">

        <!-- Offcanvas sidebar -->
        {% include 'components/navbar.html' %}

        <!-- Main content -->
        <main class="ms-sm-auto px-md-4 pt-md-3">
            <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
                <!-- Banner header -->
                <h1>Orders and Customer Status</h1>
            </div>
            
            <div class="mt-5">
                <!-- inline container for title and modal button -->
                <div class="d-flex justify-content-between">
                    <h1>Customers</h1>
                    <button type="button" class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#customerModal">+ New</button>
                </div>
                <table class="table table-hover table-borderless">
                    {% if customers %}
                    <thead>
                        {% for key in customers[0].keys() %}
                            {% if key not in ['id'] %}
                                <th scope="col">{{ key | attribute }}</th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            {% set outer_index = loop.index - 1 %}
                            <tr onclick="openModal({{ customer }}, {{ customer['id'] }})" id="row-{{ outer_index }}">
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.status }}</td>
                                <td>{{ customer.shipping_address | address }}</td>
                                <td>{{ customer.billing_address | address }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        No customers found.
                    {% endif %}
                </table>
            </div>

            <!-- Orders Table -->
            <div class="mt-5">
                <!-- inline container for title and modal button -->
                <div class="d-flex justify-content-between">
                    <h1>Orders</h1>
                    <button type="button" class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#ordersModal">+ New</button>
                </div>
                <table class="table table-hover table-borderless">
                    {% if orders %}
                    <thead>
                        {% for key in orders[0].keys() %}
                            {% if key not in ['id'] %}
                                <th scope="col">{{ key.capitalize() }}</th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            {% set outer_index = loop.index - 1 %}
                            <tr onclick="openModal({{ product }}, {{ product['id'] }})" id="row-{{ outer_index }}">
                                <td>{{ order.flavor }}</td>
                                <td>{{ order.container_size }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.cost }}</td>
                                <td>{{ order.shipping_type }}</td>
                                <td>{{ order.shipping_date }}</td>
                                <td>{{ order.shipping_cost }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        No outstanding orders.
                    {% endif %}
                </table>
            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% endblock %}