{% extends 'base.html' %}
{% import 'components/macros.html' as macros %}

{% block title %}Orders{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}" type="text/css">
{% endblock %}

{% block content %}

    {% include 'orders/modals/customers_update_modal.html' %}
    {% include 'orders/modals/orders_add_modal.html' %}
    {% include 'orders/modals/orders_update_modal.html' %}

    <!-- Main content container -->
    <div class="container-md">

        <!-- Offcanvas sidebar -->
        {% include 'components/navbar.html' %}

        <!-- Main content -->
        <main class="ms-sm-auto px-md-4 pt-md-3">
            <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
                <!-- Banner header -->
                <h1>Orders and Customer Status</h1>
            </div>
            
            <div class="mt-5">
                <!-- inline container for title and modal button -->
                <div class="d-flex justify-content-between">
                    <h1>Customers</h1>
                    <a type="button" class="btn modal-btn" href="{{ url_for('auth.register') }}">+ New</a>
                </div>
                <table class="table table-hover table-borderless">
                    {% if customers %}
                    <thead>
                        {% for key in customers[0].keys() %}
                            {% if key not in ['id'] %}
                                <th scope="col">{{ key | attribute }}</th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr onclick="openModal({{ customer }}, {{ customer['id'] }})" id="row-{{ loop.index - 1 }}">
                                {% for key, value in customer.items() %}
                                    {% if key not in ['id'] %}
                                        {% if key in ['shipping_address', 'billing_address'] %}
                                            <td>{{ value | address }}</td>
                                        {% else %}
                                            <td>{{ value | title }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        No customers found.
                    {% endif %}
                </table>
            </div>

            <!-- Orders Table -->
            <div class="mt-5">
                <!-- inline container for title and modal button -->
                <div class="d-flex justify-content-between">
                    <h1>Orders</h1>
                    <button type="button" class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#ordersModal">+ New</button>
                </div>
                <table class="table table-hover table-borderless" id="orders-table">
                    {% if orders %}
                    <thead>
                        {% for key in orders[0].keys() %}
                            {% if key not in ['id'] %}
                                <th scope="col">{{ key | attribute }}</th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr onclick="openOrderUpdateModal({{ order.id }})" id="row-{{ order.id }}">
                                {% for key, value in order.items() %}
                                    {% if key not in ['id'] %}
                                        {% if key == 'shipping_date' %}
                                            <td>{{ value | date }}</td>
                                        {% elif key in ['total_cost', 'shipping_cost'] %}
                                            <td>{{ value | currency }}</td>
                                        {% else %}
                                            <td>{{ value | title }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        No outstanding orders.
                    {% endif %}
                </table>
            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% endblock %}