<div class="modal" id="ordersModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Order</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Form to allow user to add a new inventory item -->
            <form action="{{ url_for('orders.add_order') }}" method="POST" id="addInventoryForm">
                <div class="columns">
                    <div class="column">
                        <h3>Order Info</h3>
                        <!-- Customer Name-->
                        <div class="mb-3">
                            <label for="customer-name" class="form-label">Customer Name</label>
                            <select class="form-control" id="customer-name" name="customer-name" required>
                                <option value="">Select a customer</option>
                                {% for customer in customers %}
                                    <option value="{{ customer.id }}">{{ customer.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Flavor -->
                        <div class="mb-3">
                            <label for="flavor" class="form-label">Flavor</label>
                            <input type="text"
                                   class="form-control"
                                   id="flavor"
                                   name="flavor" required>
                        </div>

                        <!-- Size -->
                        <div class="mb-3">
                            <label for="size" class="form-label">Size</label>
                            <input type="text"
                                   class="form-control"
                                   id="size"
                                   name="size" required>
                        </div>

                        <!-- Product Quantity -->
                        <div class="mb-3">
                            <label for="product-quantity" class="form-label">Quantity</label>
                            <input type="number"
                                   class="form-control"
                                   id="product-quantity"
                                   name="product-quantity" required>
                        </div>

                        <!-- Cost -->
                        <div class="mb-3">
                            <label for="cost" class="form-label">Cost</label>
                            <input type="number" step="0.01"
                                   class="form-control"
                                   id="cost"
                                   name="cost" 
                                   min="0" pattern="^\d+(\.\d{1,2})?$" required>
                        </div>
                    </div>
                    
                    <div class="column">
                        <h3>Shipping</h3>
                        <!-- Shipping Type -->
                        <div class="mb-3">
                            <label for="shipping-type" class="form-label">Shipping Type</label>
                            <select class="form-control" id="shipping-type" name="shipping-type" required>
                                <option value="standard">Standard</option>
                                <option value="express">Express</option>
                            </select>
                        </div>
                        <!-- Estimated Shipping Date -->
                        <div class="mb-3">
                            <label for="shipping-date" class="form-label">Shipping Date</label>
                            <input type="text"
                                    class="form-control"
                                    id="shipping-date"
                                    name="shipping-date" 
                                    placeholder="MM/DD/YYYY"
                                    pattern="^(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}$" required>
                        </div>

                        <!-- Shipping Cost -->
                        <div class="mb-3">
                            <label for="shipping-cost" class="form-label">Shipping Cost</label>
                            <input type="number" step="0.01"
                                   class="form-control"
                                   id="shipping-cost"
                                   name="shipping-cost" 
                                   min="0" pattern="^\d+(\.\d{1,2})?$" required>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Order</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>