{% extends 'base.html' %}
{% import 'components/macros.html' as macros %}

{% block title %}Invoices{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css') }}" type="text/css">
{% endblock %}

{% block content %}

    {% include 'inventory/modals/inventory_update_modal.html' %}

    <!-- Main content container -->
    <div class="container-md">

        <!-- Offcanvas sidebar -->
        {% include 'components/navbar.html' %}

        <!-- Main content -->
        <main class="ms-sm-auto px-md-4 pt-md-3">
            <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
                <!-- Banner header -->
                <h1>Invoices</h1>
            </div>

            <!-- Invoices Table -->
            <div class="mt-5">
                <!-- inline container for title and modal button -->
                <div class="d-flex justify-content-between">
                    <h1>Recent Orders</h1>
                </div>

                <!-- Dropdown for 'Filter By' functionality -->
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter By
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        {% if invoices %}
                            {% for key in invoices[0].keys() %}
                                {% if key not in ['id', 'disposition', 'deleted_at'] %}
                                    <li><a class="dropdown-item" href="/inventory?filter={{ key }}">{{ key | attribute }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                </div>

                <!-- Table for invoices -->
                <table class="table table-hover table-borderless">
                    {% if invoices %}
                    <thead>
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Order ID</th>  <!-- Change this from dynamic to static -->
                            <th scope="col">Total</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                            <tr id="row-{{ loop.index - 1 }}">
                                <td>{{ invoice.customer_name }}</td>
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.total | currency }}</td>
                                <td>{{ invoice.due_date }}</td>
                                <td>
                                    <a href="{{ url_for('invoices.current_invoice', invoice_id=invoice.id) }}" class="btn btn-primary btn-sm">View Invoice</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                    {% else %}
                        No invoices found.
                    {% endif %}
                </table>
            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/inventory.js') }}"></script>
{% endblock %}