<div class="modal" id="addModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Form to allow user to add a new inventory item -->
                <form action="{{ url_for('inventory.inventory_add_product') }}" method="POST" id="addInventoryForm">
                    
                    <!-- User ID (HIDDEN) -->
                    <input type="hidden" id="user-id" name="user-id" value="{{ current_user.id }}">

                    <div class="modal-body">

                        <!-- Product Flavor -->
                        <div class="mb-3">
                            <label for="product-flavor" class="form-label">Flavor</label>
                            <select class="form-select" 
                                    name="product-flavor-add"
                                    id="product-flavor-add" required>
                                    <option disabled selected>Select flavor</option>
                                    {% for flavor in supported_flavors %}
                                        <option value="{{ flavor }}">{{ flavor.capitalize() }}</option>
                                    {% endfor %}
                            </select>
                        </div>

                        <!-- Product Container Size -->
                        <div class="mb-3">
                            <label for="product-container-size-add" class="form-label">Container Size</label>
                            <select class="form-select" id="product-container-size-add" name="product-container-size-add" required>
                                <option disabled selected>Select size</option>
                                {% for size in supported_container_sizes %}
                                    <option value="{{ size }}">{{ size.capitalize() }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Product Price -->
                        <div class="mb-3">
                            <label for="product-price-add" class="form-label">Price</label>
                            <div class="input-group">
                                <div class="input-group-text" id="btnGroupAddon">$</div>
                                <input type="number" step="0.01"
                                    class="form-control"
                                    id="product-price-add"
                                    name="product-price-add" 
                                    min="0" pattern="^\d+(\.\d{1,2})?$" required>
                            </div>
                        </div>

                        <!-- Product Quantity -->
                        <div class="mb-3">
                            <label for="product-quantity-add" class="form-label">Quantity</label>
                            <input type="number"
                                class="form-control"
                                id="product-quantity-add"
                                name="product-quantity-add" required>
                        </div>

                        <!-- Product Status -->
                        <div class="mb-3">
                            <label for="product-status-add" class="form-label">Status</label>
                            <select class="form-select" id="product-status-add" name="product-status-add" required>
                                <option value="" disabled selected>Select status</option>
                                <option value="planned">Planned</option>
                                <!-- <option value="committed">Committed</option> -->
                                <option value="actual">Actual</option>
                            </select>
                        </div>

                        <!-- Product Dock Date -->
                        <!-- TODO: finish this -->
                        <div class="mb-3">
                            <label for="product-dock-date-add" class="form-label">Dock Date</label>
                            <input 
                            type="text" 
                            class="form-control product-dock-date-add" 
                            id="product-dock-date-add" 
                            name="product-dock-date-add" 
                            placeholder="MM/DD/YYYY" 
                            pattern="^(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}$" required>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>