<!-- POP-UP MODAL FOR EDITING A PRODUCT -->
<div class="modal" id="productModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- Product content will be inserted dynamically here -->

                <!-- Form of modifiable inputs (preset to current product attributes)-->
                <form id="updateForm" method="POST" action="/inventory_update">

                    {% set readonly_flag = not current_user.is_admin %}

                    <div class="row mb-3">

                        <!-- Product ID -->
                        <div class="col-md-3">
                            {{  macros.input_group_floating(
                                label='Product ID',
                                id='product-id',
                                name='product-id',
                                is_readonly=True,
                                tooltip='Unique identifier for the product.'
                            ) }}
                        </div>

                        <!-- Flavors dropdown -->
                        <div class="col-md-3">

                            {% set options = [] %}
                            {% for flavor in supported_flavors %}
                                {% set _ = options.append((flavor, flavor)) %}
                            {% endfor %}
                            {{ macros.select_group_floating(
                                label='Flavor',
                                id='product-flavor',
                                name='product-flavor',
                                options=options,
                                classes='product-flavor-input',
                                is_disabled=readonly_flag,
                                tooltip='Select the flavor of the product.'
                            ) }}

                        </div>

                        <!-- Container Size dropdown -->
                        <div class="col-md-3">

                            {% set options = [] %}
                            {% for size in supported_container_sizes %}
                                {% set _ = options.append((size, size)) %}
                            {% endfor %}
                            {{ macros.select_group_floating(
                                label='Container Size',
                                id='product-container-size',
                                name='product-container-size',
                                options=options,
                                classes='product-container-size-input',
                                tooltip='Select the container size of the product.'
                            ) }}

                        </div>

                        <!-- Price input -->
                        <div class="col-md-3">

                            {{ macros.input_group_floating(
                                label='Price ($)',
                                id='product-price',
                                name='product-price',
                                type='number',
                                pattern='^\d+(\.\d{1,2})?$',
                                classes='product-price-input',
                                is_required=True,
                                extra="step=0.01",
                                tooltip='Enter the price of the product.'
                            ) }}

                        </div>

                    </div>

                    <div class="row mb-3">

                        <!-- Quantity input -->
                        <div class="col-md-3">

                            {{ macros.input_group_floating(
                                label='Quantity',
                                id='product-quantity',
                                name='product-quantity',
                                type='number',
                                min='0',
                                classes='product-quantity-input',
                                tooltip='Enter the quantity of the product.'
                            ) }}
                        
                        </div>

                        <!-- Status dropdown -->
                        <div class="col-md-3">

                            {{ macros.select_group_floating(
                                label='Status',
                                id='product-status',
                                name='product-status',
                                options=[('actual', 'Actual'), ('planned', 'Planned')],
                                classes='product-status-input',
                                tooltip='Select the status of the product.'
                            ) }}

                        </div>

                        <!-- Dock date -->
                        <div class="col-md-3">

                            {{ macros.input_group_floating(
                                label='Dock Date',
                                id='product-dock-date',
                                name='product-dock-date',
                                type='date',
                                classes='product-dock-date-input',
                                tooltip='Enter the dock date of the product.'
                            ) }}

                        </div>

                    </div>
                </form>
            </div>

            <!-- Modal Footer Buttons -->
            <div class="modal-footer d-flex justify-content-between align-items-center">

                <!-- Form to trigger server call without needing JS -->
                <form id="deleteForm" method="POST" action="/inventory_delete" class="d-flex align-items-center">
                    
                    <!-- Hidden inputs -->
                    <input type="hidden" name="product-id-delete" id="product-id-delete">
                    <input type="hidden" name="user-id-delete" id="user-id-delete" value="{{ current_user.id }}">
                    
                    <!-- Button to delete product from inventory -->
                    <button type="button" class="btn btn-danger" onclick="document.querySelector('#deleteForm').submit();">Delete</button>
                </form>

                <!-- Push buttons to right side of footer -->
                <div class="ml-auto">
                    <!-- Button to close modal -->
                    <button type="button" class="btn" data-dismiss="modal" onclick="closeModal()">Close</button>

                    <!-- Button to submit form -->
                    <button type="button" class="btn btn-primary" onclick="document.querySelector('#updateForm').submit();">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>