{% extends 'base.html' %}
{% import 'components/macros.html' as macros %}

{% block title %}Trouble Tickets{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tickets.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <!-- include here for modal -->
    {% include 'tickets/modals/tickets_add_modal.html' %}
    {% include 'tickets/modals/tickets_update_modal.html' %}

    <!-- Main content container -->
    <div class="container-md">

        <!-- Offcanvas sidebar -->
        {% include 'components/navbar.html' %}

        <!-- Main content -->
        <main class="ms-sm-auto px-md-4 pt-md-3">
            <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
                <!-- Banner header -->
                <h1>Customer Support</h1>
            </div>

            <!-- Tickets Table -->
            <div class="mt-5">
                <!-- inline container for title and modal button -->
                <div class="d-flex justify-content-between">
                    <h1>Ticket History</h1>
                    <button type="button" class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#tickets-add-modal">+ New</button>
                </div>
                <table class="table table-hover table-borderless">
                    {% if tickets %}
                        <thead>
                            <tr>
                                {% for key in tickets[0].keys() %}
                                    {% if key not in ['id'] %}
                                        <th scope="col">{{ key.replace('_', ' ').capitalize() }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                                <tr onclick="openModal({{ ticket }}, {{ ticket['id'] }})">
                                    {% for key, value in ticket.items() %}
                                        {% if key not in ['id'] %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        <!-- Only surface update ticket button if the current user is an admin -->
                                        {% if current_user.is_admin %}
                                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" 
                                            data-bs-target="#tickets-update-modal" ticket-id={{ticket['id']}}>
                                                    Update Ticket
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        No Outstanding Tickets.
                    {% endif %}
                </table>
            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/tickets.js') }}"></script>
{% endblock %}