{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login-container"></div>
    <h1 class="login-title">Login</h1>

    <form class="login-form" action="/login" method="POST">
        <label class="form-label" for="username">Username</label>
        <input class="input" type="text" name="username" id="username" required>
        <br>
        <label class="form-label" for="password">Password</label>
        <input class="input" type="password" name="password" id="password" required>
        <br>
        <button class="btn" type="submit">Login</button>
    </form>

    <p class="register-container">
        Don't have an account? <a href="/register"><button class="register-btn">Register</button></a>
    </p>

    <p class="system-msg">{% if msg %} {{ msg }} {% endif %}</p>
</div>

{% endblock %}