<div class="modal" id="tickets-summary-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Summary of Displayed Tickets</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to allow user to generate a summary of trouble tickets -->
                <form>
                    <div class="colums">
                        <div class="column">

                            <!-- Metrics Cards -->
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 gap-4">

                                {% set current_user_name = current_user.first_name + " " + current_user.last_name %}
                                {% set total_tickets_subtitle = "(All Users)" if current_user.is_admin 
                                                                 else '(' ~ current_user_name ~ ')' %}
                                {{ macros.metrics_card("Total Tickets", subtitle=total_tickets_subtitle, text=tickets | length) }}

                                {{ macros.metrics_card("Avg. Time to Close", subtitle="(Days)", 
                                                        text=statistics.average_time_to_close) }}

                                {{ macros.metrics_card("Avg. Opened Problems", subtitle="(Per Day)", text=statistics.average_opened_problems_per_day) }}

                                {{ macros.metrics_card("Avg. Problems Worked", subtitle="(Per Day)", text=statistics.average_problems_worked_per_day) }}

                            </div>

                            <!-- Table for Ticket Summary -->
                            <div class="table-responsive mt-5">
                                <table class="table table-striped">

                                    {{ macros.section_header(
                                        title='All Open Tickets', 
                                        subtitle='Shows all open tickets', 
                                        size='h5',
                                    ) }}
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Problem Type</th>
                                            <th>Date Reported</th>
                                            <th>Date Closed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Shows all open tickets -->
                                        {% for ticket in tickets %}
                                            {% if ticket.problem_status == 'open' %}
                                                <tr>
                                                    <td>{{ ticket.problem_type }}</td>
                                                    <td>{{ ticket.date_reported }}</td>
                                                    <td>{{ ticket.date_closed if ticket.date_closed else 'Ticket has not been resolved yet' }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>