<div class="modal" id="ordersUpdateModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="modalBody">
            
                <div class="row justify-content-left mb-5">

                    <div class="col-md-3">

                        <!-- order id value to be populated by js -->
                        <input type="hidden" id="order-id-update-hidden" name="order-id-update-hidden" value="{{ order_id }}">
                        

                        <!-- Order ID -->
                        {{ macros.input_group_floating(
                            label='Order ID', 
                            id='order-id-update', 
                            name='order-id-update', 
                            type='text',
                            plaintext=true,
                            is_readonly=true) 
                        }}
                    
                    </div>

                    <div class="col-md-3">
                        
                        <!-- Customer -->
                        {{ macros.input_group_floating(
                            label='Customer', 
                            id='customer-update', 
                            name='customer-update',
                            type='text',
                            plaintext=true,
                            is_readonly=true) 
                        }}

                    </div>

                    <div class="col-md-3">

                        <!-- Shipping Type -->
                        {{ macros.input_group_floating(
                            label='Shipping Type', 
                            id='shipping-type-update', 
                            name='shipping-type-update',
                            type='text',
                            plaintext=true,
                            is_readonly=true) 
                        }}

                    </div>

                    <div class="col-md-3">

                        <!-- Shipping Cost -->
                        {{ macros.input_group_floating(
                            label='Shipping Cost', 
                            id='shipping-cost-update', 
                            name='shipping-cost-update',
                            type='int',
                            plaintext=true,
                            is_readonly=true) 
                        }}

                    </div>

                </div>

                <div class="row justify-content-left mb-5">

                    <div class="col-md-3">

                        <!-- Shipping Date -->
                        {{ macros.input_group_floating(
                            label='Shipping Date', 
                            id='shipping-date-update', 
                            name='shipping-date-update',
                            type='text',
                            plaintext=true,
                            is_readonly=true) 
                        }}

                    </div>

                    <div class="col-md-3">

                        <!-- Order Date -->
                        {{ macros.input_group_floating(
                            label='Order Date', 
                            id='order-date-update', 
                            name='order-date-update',
                            type='text',
                            plaintext=true,
                            is_readonly=true) 
                        }}

                    </div>

                    <div class="col-md-3">



                    </div>

                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <button onclick="toggleEdit()" class="btn">Edit</button>
                <button type="button" class="btn btn-primary" id="updateOrderButton">Update</button>

            </div>
        </div>
    </div>
</div>