<div class="modal" id="ordersModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Order</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <!-- Form to allow user to add a new inventory item -->
            <form action="{{ url_for('orders.orders_add_order') }}" method="POST" id="addInventoryForm">

                <h3>Order Info</h3>

                <div class="row mb-3">
                    
                    <!-- Hidden Inputs -->
                    <input type="hidden" name="total-cost" id="total-cost" value="0">
                    <input type="hidden" name="customer-status" id="customer-status" value="{{ current_user.status }}">
                    <input type="hidden" name="shipping-address" id="shipping-address" value="{{ current_user.shipping_address }}">
                    <input type="hidden" name="billing-address" id="billing-address" value="{{ current_user.billing_address }}">
                    <input type="hidden" name="order-status" id="order-status" value="pending">

                    <!-- Customer Selection -->
                    <div class="col-md-3">

                        {% set customer_options = [] %}
                        {% if customers %}
                            {% set name_current_user = current_user.first_name + " " + current_user.last_name %}
                            {% set _ = customer_options.append((current_user.id, name_current_user)) %}
                            {% if current_user.is_admin %}
                                    {% for customer in customers %}
                                        {% if customer.id != current_user.id %}
                                            {% set _ = customer_options.append((customer.id, customer.name)) %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                        {% else %}
                            {% set _ = customer_options.append(("", "No customers found")) %}
                        {% endif %}

                        {{ macros.select_group_floating(
                            label='Customer',
                            id='user-id',
                            name='user-id',
                            options=customer_options,
                            selected=current_user.id,
                            tooltip='Select the customer for the order.'
                        ) }}

                    </div>

                    <!-- Shipping Type -->
                    <div class="col-md-3">

                        {% set shipping_options = [] %}
                        {% set extra_data = [] %}
                        {% if shipping_types %}
                            {% for i in range(shipping_types | length) %}
                                {% set _ = shipping_options.append((shipping_types[i], shipping_types[i])) %}
                                {% set _ = extra_data.append(('cost', shipping_costs[i])) %}
                            {% endfor %}
                        {% else %}
                            {% set _ = shipping_options.append(('No shipping types available', '0.0')) %}
                        {% endif %}
                        {{ macros.select_group_floating(
                            label='Shipping Type',
                            id='shipping-type',
                            name='shipping-type',
                            options=shipping_options,
                            extra_data=extra_data,
                            tooltip='Select the shipping type for the order.'
                        ) }}

                    </div>

                    <!-- Desired Receipt Date -->
                    <div class="col-md-3">

                        {{ macros.input_group_floating(
                            label='Desired Receipt Date',
                            id='desired-receipt-date',
                            name='desired-receipt-date',
                            value='',
                            type='date',
                            pattern="^(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}$",
                            tooltip='Enter the desired receipt date in MM/DD/YYYY format.'
                        ) }}

                    </div>

                    <!-- Expected Shipping Date -->
                    <div class="col-md-3">

                            {{ macros.input_group_floating(
                                label='Expected Shipping Date',
                                id='expected-shipping-date',
                                name='expected-shipping-date',
                                type='text',
                                pattern='^(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}$',
                                is_readonly=true,
                                tooltip='Expected shipping date will be calculated based on the selected shipping type.'
                            ) }}

                    </div>

                </div>

                <div class="row mb-3">

                    <!-- Shipping Cost -->
                    <div class="col-md-3">

                        {{ macros.input_group_floating(
                            label='Shipping Cost ($)',
                            id='shipping-cost',
                            name='shipping-cost',
                            value='',
                            type='number',
                            is_readonly=true,
                            extra='step=1',
                            tooltip='Shipping cost will be calculated based on the selected shipping type.'
                        ) }}

                    </div>

                </div>

                <!-- Line Items -->
                <div id="line-items-container">
                    <div class="line-item mb-3 row" id="first-line-item">
                        <h5>Line Item 1</h5>

                        <!-- Flavor -->
                        <div class="col-md-3">

                            {% set _unique_flavors = [] %}
                            {% if unique_flavors %}
                                {% for flavor in unique_flavors %}
                                    {% set _ = _unique_flavors.append((flavor, flavor)) %}
                                {% endfor %}
                            {% else %}
                                {% set _ = _unique_flavors.append(("", "No flavors available")) %}
                            {% endif %}

                            {{ macros.select_group_floating(
                                label='Flavor',
                                id='flavor-0',
                                name='order_items[0][flavor]',
                                classes='flavor',
                                options=_unique_flavors,
                                tooltip='Select the flavor for the line item.'
                            ) }}

                        </div>

                        <!-- Container Size -->
                        <div class="col-md-3">

                            {{ macros.select_group_floating(
                                label='Container Size',
                                id='container-size-0',
                                name='order_items[0][container-size]',
                                classes='container-size',
                                options=[],
                                tooltip='Select the container size for the line item.'
                            ) }}
                        </div>

                        <!-- Quantity -->
                        <div class="col-md-3">

                                {{ macros.input_group_floating(
                                    label='Quantity',
                                    id='quantity-0',
                                    name='order_items[0][quantity]',
                                    classes='quantity',
                                    type='number',
                                    min='1',
                                    extra="step=1",
                                    oninput="this.value = this.value.replace(/\D/g, '')",
                                    tooltip='Enter the quantity for the line item.'
                                ) }}
                        </div>
                        
                        <!-- Line-Item Cost -->
                        <div class="col-md-3">

                            {{ macros.input_group_floating(
                                label='Line Item Cost ($)',
                                id='line-item-cost-0',
                                name='order_items[0][line-item-cost]',
                                classes='line-item-cost',
                                type='number',
                                extra='step=0.01',
                                is_readonly=true,
                                tooltip='Line item cost will be calculated based on the selected flavor and container size.'
                            ) }}

                        </div>
                    </div>
                </div>

                <!-- Add/Delete Line Item Buttons -->
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-dark" id="add-line-item">+</button>
                    <button type="button" class="btn btn-outline-dark" id="delete-line-item" hidden>-</button>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer d-flex justify-content-between align-items-center">
                    
                    <!-- Cost Display and hidden input -->
                    <div class="d-flex align-items-center">
                        <h4>Total: $<span id="cost-display">0.00</span></h4>
                    </div>

                    <!-- Push buttons to right side of footer -->
                    <div class="ml-auto">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add Order</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>