{% extends 'base.html' %}
{% import 'components/macros.html' as macros %}

{% block title %}Inventory{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css') }}" type="text/css">
{% endblock %}

{% block content %}

    {% include 'inventory/modals/inventory_update_modal.html' %}

    {% include 'inventory/modals/inventory_log_modal.html' %}

    <!-- Main content container -->
    <div class="container-md">

        <!-- Offcanvas sidebar -->
        {% include 'components/navbar.html' %}

        <!-- Main content -->
        <main class="ms-sm-auto px-md-4 pt-md-3">
            <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
                <!-- Banner header -->
                <h1>Inventory</h1>
            </div>

            <!-- Key Metrics Cards -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 gap-4">
                {% set total_quantity = products | map(attribute='quantity') | sum %}
                {{ macros.metrics_card('Total Units', total_quantity | string) }}

                {{ macros.metrics_card('Total Products', products | length) }}

                {{ macros.metrics_card('Metric 3', 'Metric value') }}
            </div>

            <!-- Inventory Add Modal -->
            {% include 'inventory/modals/inventory_add_modal.html' %}

            <!-- Inventory Table -->
            <div class="mt-5">
                <!-- inline container for title and modal button -->
                <div class="d-flex justify-content-between">
                    <h1>Products</h1>

                    <!-- only displays the add button if user is an admin -->
                    {% if current_user.is_admin %}
                        <button type="button" class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#logModal">Log</button>
                    <button type="button" class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#addModal">+ New</button>
                    {% endif %}
                </div>

                <!-- Dropdown for 'Filter By' functionality -->
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter By
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        {% if products %}
                            {% for key in products[0].keys() %}
                                {% if key not in ['id', 'disposition', 'deleted_at'] %}
                                    <li><a class="dropdown-item" href="/inventory?filter={{ key }}">{{ key | attribute }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                </div>

                <!-- Table for inventory products -->
                <table class="table table-hover table-borderless">
                    {% if products %}
                    <thead>
                        {% for key in products[0].keys() %}
                            {% if key not in ['id', 'disposition', 'deleted_at'] %}
                                <th scope="col">{{ key | attribute }}</th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for product in products %}
                            {% set outer_index = loop.index - 1 %}
                            <tr onclick="openModal({{ product }}, {{ product['id'] }}, {{ current_user.is_admin | tojson | safe }})" id="row-{{ outer_index }}">
                                <td>{{ product.flavor }}</td>
                                <td>{{ product.container_size }}</td>
                                <td>{{ product.price | currency}}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        No products found.
                    {% endif %}
                </table>
            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/inventory.js') }}"></script>
{% endblock %}