{% extends 'base.html' %}
{% import 'components/macros.html' as macros %}

{% block title %}Inventory{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css') }}" type="text/css">
{% endblock %}

{% block content %}

    {% include 'inventory/modals/inventory_update_modal.html' %}

    {% include 'inventory/modals/inventory_log_modal.html' %}

    <!-- Main content container -->
    <div class="container-md">

        <!-- Offcanvas sidebar -->
        {% include 'components/navbar.html' %}

        <!-- Main content -->
        <main class="ms-sm-auto px-md-4 pt-md-3">

            <!-- Inventory Header -->
            {{ macros.section_header('Inventory') }}

            <!-- Key Metrics Cards -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 gap-4">

                <!-- Total units in inventory -->
                {% set total_quantity = products | map(attribute='quantity') | sum %}
                {{ macros.metrics_card('Total Units', total_quantity | string) }}

                <!-- Total actual units in inventory -->
                {% set total_actual = products | selectattr('status', 'equalto', 'actual') | map(attribute='quantity') | sum %}
                {{ macros.metrics_card('Total Actual Units', total_actual) }}

                <!-- Total planned units in inventory -->
                {% set total_planned = products | selectattr('status', 'equalto', 'planned') | map(attribute='quantity') | sum %}
                {{ macros.metrics_card('Total Planned Units', total_planned) }}

            </div>

            <!-- Inventory Add Modal -->
            {% include 'inventory/modals/inventory_add_modal.html' %}

            <!-- Inventory Table -->
            <div class="mt-5">

                <!-- inline button -->
                {% set buttons %}
                    <!-- only displays the add button if user is an admin -->
                    {% if current_user.is_admin %}
                        <div class="btn-group">
                            <button type='button' class='btn btn-outline-secondary modal-btn' data-bs-toggle='modal' data-bs-target='#logModal'>Log</button>
                            <button type='button' class='btn btn-outline-secondary modal-btn' data-bs-toggle='modal' data-bs-target='#addModal'>+ New</button>
                        </div>
                    {% endif %}
                {% endset %}

                <!-- Header -->
                {{ macros.section_header("Products", extra_html=buttons | safe) }}

                <!-- Message Display Container -->
                {% if msg %}
                    {{ macros.message(msg, msg_type or "danger", "/inventory") }}
                {% endif %}

                <!-- Table for inventory products -->
                <table class="table table-hover table-borderless table-striped mb-5">
                    {% if products %}
                    {% set hidden_attributes = ['id'] %}
                    <thead class="table-dark">
                        {% for key in products[0].keys() %}
                            {% if key not in hidden_attributes %}
                                <th class="inventory-header" scope="col">
                                    <a class="table-header-link" href="/inventory?filter={{ key }}">{{ key | attribute }}</a>
                                </th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for product in products %}

                            {# Set the table row color based on the order status #}
                            {% set tr_map = '' %}
                            {% if product.status == 'planned' %}
                                {% set tr_map = 'table-warning' %}
                            {% elif product.status == 'actual' %}
                                {% set tr_map = 'table-success' %}
                            {% endif %}

                            <tr onclick="openModal({{ product }}, {{ product['id'] }}, {{ current_user.is_admin | tojson | safe }})" 
                                class="{% if tr_map %}{{ tr_map }}{% endif %}" id="row-{{ loop.index - 1 }}"
                                style="cursor: pointer;">
                                {% for key, value in product.items() %}
                                    {% if key not in hidden_attributes %}
                                        {% if key == 'price' %}
                                            <td>{{ value | currency }}</td>
                                        {% else %}
                                            <td>{{ value | capitalize }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        No products found.
                    {% endif %}
                </table>

                <!-- Inventory Allocations Header -->
                {{ macros.section_header('Allocations') }}

                <!-- Table for product allocations -->
                <table class="table table-hover table-borderless table-striped mb-5">
                    {% if allocations %}
                    {% set hidden_attributes = ['id', 'product'] %}
                    <thead class="table-dark">
                        {% for key in allocations[0].keys() %}
                            {% if key not in hidden_attributes %}
                                <th class="inventory-header" scope="col">
                                    <a class="table-header-link" href="/inventory?filter={{ key }}">{{ key | attribute }}</a>
                                </th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for allocation in allocations %}

                            {# Set the table row color based on the order status #}
                            {% set tr_map = '' %}
                            {% if allocation.status == 'planned' %}
                                {% set tr_map = 'table-warning' %}
                            {% elif allocation.status == 'actual' %}
                                {% set tr_map = 'table-success' %}
                            {% endif %}

                            <tr onclick="openModal({{ allocation }}, {{ allocation['id'] }}, {{ current_user.is_admin | tojson | safe }})" 
                                class="{% if tr_map %}{{ tr_map }}{% endif %}" id="row-{{ loop.index - 1 }}"
                                style="cursor: pointer;">
                                {% for key, value in allocation.items() %}
                                    {% if key not in hidden_attributes %}
                                        {% if key == 'price' %}
                                            <td>{{ value | currency }}</td>
                                        {% else %}
                                            <td>{{ value | capitalize }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        No allocations found.
                    {% endif %}
                </table>
            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/inventory.js') }}"></script>
{% endblock %}