{% extends 'base.html' %}
{% import 'components/macros.html' as macros %}

{% block title %}Shipments{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css') }}" type="text/css">
{% endblock %}

{% block content %}

    {% include 'shipments/modals/shipment_update_modal.html' %}

    <div class="container-md">

        {{ macros.section_header("Shipments") }}

        <!-- Message Display Container -->
        {% if msg %}
            {{ macros.message(msg, msg_type or "danger", "/shipment") }}
        {% endif %}

        {% if shipments %}
        {% set hidden_attributes = ['id', 'partial_delivery', 'order', 'user_id'] %}
        <table class="table table-hover table-borderless table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Customer</th>
                    <!-- Dynamically generate table headers from the shipment dictionary keys -->
                    {% for key in shipments[0].keys() %}
                        {% if key not in hidden_attributes %}
                            {% if key == 'order_id' %}
                                <th scope="col">Order ID</th>
                            {% else %}
                                <th scope="col">{{ key | attribute }}</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Dynamically generate table rows for each shipment -->
                {% for shipment in shipments %}

                    {% if (shipment.user_id == current_user.id) or current_user.is_admin %}

                        {# Set the table row color based on the order status #}
                        {% set tr_map = '' %}
                        {% if shipment.order.status == 'pending' %}
                            {% set tr_map = 'table-warning' %}
                        {% elif shipment.order.status == 'cancelled' %}
                            {% set tr_map = 'table-danger' %}
                        {% elif shipment.order.status == 'shipped' %}
                            {% set tr_map = 'table-info' %}
                        {% elif shipment.order.status == 'delivered' %}
                            {% set tr_map = 'table-success' %}
                        {% endif %}

                        <tr onclick="openShipmentUpdateModal({{ shipment.id }})" id="order-{{ shipment.order.id }}"
                            class="{% if tr_map %}{{ tr_map }}{% endif %}" style="cursor: pointer;">
                            <td>{{ shipment.order.user.first_name }} {{ shipment.order.user.last_name }}</td>
                            {% for key, value in shipment.items() %}
                                {% if key not in hidden_attributes %}
                                    <td>
                                        {{ value | title }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>

                    {% endif %}

                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
            No shipments found. Create an order to generate shipments automatically.
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    <!-- <script src="{{ url_for('static', filename='js/orders.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/shipments.js') }}"></script>
{% endblock %}